<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>WD-40</string>
    <key>CFBundleDisplayName</key>
    <string>WD-40</string>
    <key>CFBundleIdentifier</key>
    <string>com.wd40.app</string>
    <key>CFBundleVersion</key>
    <string>__BUILD__</string>
    <key>CFBundleShortVersionString</key>
    <string>__VERSION__</string>
    <key>CFBundleExecutable</key>
    <string>wd40-menu</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://wd40-release.sunoj-mings.workers.dev/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>RU1CL2LFNZs4AhiBQ5ZoHelifYyJ5yv2I7rEi7mSahM=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
</dict>
</plist>
